@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply cursor-pointer whitespace-nowrap hover:underline;
  }
  /* Chrome, Safari and Opera */
  .small-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    border: transparent;
    background-color: #131921;
  }
  .small-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
  }
  .small-scrollbar {
    -ms-overflow-style: thin; /* IE and Edge */
    scrollbar-width: thin; /* Firefox */
  }
  .button {
    @apply p-2 text-xs md:text-sm bg-gradient-to-b from-yellow-200 to-yellow-400 border border-yellow-300 rounded-md  focus:outline-none focus:ring-2 focus:ring-yellow-500 active:from-yellow-500 active:to-yellow-500;
  }
}
